body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  margin: 10px;
}

tr {
   border:2px solid black;
}

td {
   border:2px solid black;
   height: 65px;
   width: 65px;
}

.container{
	height: 50%;
  width: 50%;
}

